/* Configurações gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #7C39D3; /* Cor de fundo do cabeçalho */
    padding: 15px 0; /* Diminui o padding para tornar o cabeçalho mais compacto */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Mantém o header no topo */
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    font-size: 1.8em;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.menu-hamburguer {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.menu-hamburguer:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-hamburguer .barra {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s;
}

/* Estilo do menu */
.menu nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.menu nav ul li {
    margin-left: 20px;
}

.menu nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.menu nav ul li a:hover {
    background-color: #5E2AA0; /* Cor mais escura no hover */
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu nav ul {
        display: none; /* Esconde o menu padrão em telas pequenas */
        flex-direction: column;
        background-color: #7C39D3;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 5px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .menu-hamburguer {
        display: block; /* Exibe o botão do menu hambúrguer em telas pequenas */
    }

    .menu nav ul li {
        margin: 10px 0;
    }

    .menu.ativo nav ul {
        display: flex; /* Mostra o menu quando o hambúrguer é clicado */
    }
}

/* Adiciona um espaçamento no topo da página por conta do cabeçalho fixo */
body {
    padding-top: 60px;
}


/* Seções com fundo cinza */
.hero-section {
    padding: 60px 20px;
    background-color: #f9f9f9; /* Fundo cinza claro */
    text-align: center; /* Centralizando o texto */
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinha a imagem e o texto verticalmente */
}

.robotica-section {
    padding: 60px 20px;
    background-color: #e0e0e0; /* Fundo cinza mais escuro */
    text-align: center; /* Centraliza o texto dentro da seção */
}

.robotica-content {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    flex-wrap: wrap; /* Permite que o conteúdo se ajuste em telas menores */
    gap: 20px; /* Adiciona espaço entre o texto e a imagem */
}

.robotica-text, .robotica-image {
    flex: 1;
    min-width: 300px; /* Define uma largura mínima para garantir que o texto e a imagem tenham espaço */
}

.robotica-image img {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}

.title {
    margin-bottom: 20px; /* Espaço abaixo do título */
}



.laboratorios-section {
    padding: 60px 20px;
    background-color: #f9f9f9; /* Fundo cinza claro */
}

.laboratorios-cards {
    display: flex;
    justify-content: space-between; /* Espaçamento entre os cards */
    flex-wrap: wrap; /* Permitir que os cards se movam para a próxima linha se necessário */
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Margem para espaçamento entre os cards */
    flex: 1; /* Permitir que os cards ocupem espaço igual */
    min-width: 250px; /* Largura mínima para os cards */
    max-width: 30%; /* Largura máxima para os cards */
    transition: transform 0.3s; /* Efeito de hover suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
}

.potimaker-section {
    padding: 60px 20px;
    background-color: #e0e0e0; /* Fundo cinza mais escuro */
}

.publicacoes-section {
    padding: 60px 20px;
    background-color: #f9f9f9; /* Fundo cinza claro */
}

.publicacoes-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espaçamento entre os cards */
}

.publicacao-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Margem para espaçamento entre os cards */
    flex: 1; /* Permitir que os cards ocupem espaço igual */
    min-width: 250px; /* Largura mínima para os cards */
    max-width: 30%; /* Largura máxima para os cards */
}

.equipe-section {
    padding: 40px 20px;
    background-color: #f4f4f4; /* Fundo cinza claro */
    text-align: center; /* Centraliza o texto */
}

.equipe-section .title {
    font-size: 2em; /* Tamanho do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: #333; /* Cor do texto do título */
}

.equipe-section p {
    font-size: 1em; /* Tamanho do texto do parágrafo */
    line-height: 1.6; /* Espaçamento entre linhas */
    color: #666; /* Cor do texto do parágrafo */
    margin: 0 auto; /* Centraliza o parágrafo horizontalmente */
    max-width: 800px; /* Largura máxima do parágrafo para facilitar a leitura */
}


.eventos-section {
    padding: 60px 20px;
    background-color: #e0e0e0; /* Fundo cinza mais escuro */
}

.contato-section {
    padding: 60px 20px;
    background-color: #f9f9f9; /* Fundo cinza claro */
}

.hero-content, .robotica-content {
    display: flex;
    align-items: center;
}

.hero-image, .robotica-image {
    flex: 1;
    text-align: right;
}

.hero-image img, .robotica-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-text, .robotica-text {
    flex: 1;
    padding-left: 20px;
}

.hero-text h2 {
    font-size: 3em;
    color: #333;
    padding: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.robotica-text h3 {
    font-size: 1.8em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.responsaveis-section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 20px auto; /* Adicionando margem para espaçamento */
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.responsaveis-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.responsaveis-section p {
    font-size: 1.1em;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.laboratorios-section h3, .potimaker-section h3, .publicacoes-section h3, .eventos-section h3, .contato-section h3 {
    font-size: 2.4em;
    color: #7C39D3;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centralizando o título */
}

.laboratorios-section p, .potimaker-section p, .publicacoes-section p, .eventos-section p, .contato-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.potimaker-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.publicacoes-section .publicacao {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.publicacoes-section .publicacao h4 {
    font-size: 1.4em;
    color: #7C39D3;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.eventos-section .evento {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.eventos-section .evento h4 {
    font-size: 1.4em;
    color: #7C39D3;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-section .contato-info {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.contato-section .contato-info h4 {
    font-size: 1.4em;
    color: #7C39D3;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Formulário de Contato */
.contato-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.contato-form div {
    margin-bottom: 15px;
    width: 100%;
}

.contato-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contato-form input, .contato-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contato-form button {
    background-color: #7C39D3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato-form button:hover {
    background-color: #5a2cb8;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Efeitos de animação */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.publicacoes-section{
    background-color: #fff;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

}

.content-publicacoes{
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    width: 250px;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 5px;
}

.container-publicacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .hero-content, .robotica-content {
        flex-direction: column; /* Mudando para coluna para responsividade */
        align-items: center; /* Centralizando conteúdo */
    }

    .hero-image, .robotica-image {
        text-align: center; /* Centralizando imagem */
    }

    .hero-text {
        padding-left: 0; /* Removendo padding para centralizar texto */
    }

    .hero-text h2 {
        font-size: 20px;
    }
}
.linha-rodape{
    background-color: white;
    width: auto;
    padding: 1px;
    border: 1px solid rgb(249, 122, 122);
}
.imagem-evento{
    width: 150px;
    padding: 150px;
    margin-top: -150px;
    margin-bottom: -150px;
    margin-left: -120px;
}
.eventos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    margin: 10px;
}
.eventos-title{
    margin: 10px;
    background-color: #e9dbfb;
}
.imagem-rodape{
    width: 1px;
    padding: 1px;
    border-radius: 100%;
    /*margin-top: -70px;
    margin-bottom: -100px;
    margin-left: -100px;*/
}

.imgLogo{
    width: 110px;
    height: 110px;
    margin-left: 1%;
}